.list {
    color: red;
}

.one {
    color: blue;
}

.names {
    color: green;
}

.about {
    color: violet;
}

.lists {
    color: crimson;
}

.order {
    color: royalblue;
}

.work {
    color: deepskyblue;
}